@page "/admin/member"
@model App.Admin.User.IndexModel
@{
    ViewData["Title"] = "Danh sách các thành viên";
}
<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage" model="@Model.StatusMessage" />


<table class="table">
    <tr>
        <th>Tên User</th>
        <th>Vai trò</th>
        <th>Tác vụ</th>
    </tr>
    @foreach(var user in Model.users)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.RoleNames</td>
            <td>
                <a class="btn btn-success btn-sm" asp-page="./AddRole" asp-route-id="@user.Id">Thêm vai trò</a>
              
            </td>
        </tr>
    }

</table>