@page "/detail/{proId}"
@model RazorPage.Pages.DetailModel
@{
}
<div class="row">
	@Html.AntiForgeryToken()
	<partial name="_Notification" model=@Model.StatusMessage />
	@await Html.PartialAsync("_Slider")
	@await Component.InvokeAsync("CategoryBox")
	<div class="col-sm-9 padding-right">
		<div class="product-details">
			<!--product-details-->
			<div class="col-sm-5">
				<div class="view-product">
					<img src="@Model.Product.ImageDefault" alt="" />
					<h3>ZOOM</h3>
				</div>
				<div id="similar-product" class="carousel slide" data-ride="carousel">

					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<div class="item active">
							@foreach(var item in Model.Product.ProductImages)
							{
								<a href=""><img style="max-height:80px;max-width:80px" src="@item.Image" alt=""></a>
							}
						</div>
						<div class="item">
							@foreach (var item in Model.Product.ProductImages)
							{
								<a href=""><img style="max-height:80px;max-width:80px" src="@item.Image" alt=""></a>
							}
						</div>
						<div class="item">
							@foreach (var item in Model.Product.ProductImages)
							{
								<a href=""><img style="max-height:80px;max-width:80px" src="@item.Image" alt=""></a>
							}
						</div>

					</div>

					<!-- Controls -->
					<a class="left item-control" href="#similar-product" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a class="right item-control" href="#similar-product" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>

			</div>
			<div class="col-sm-7">
				<div class="product-information">
					<!--/product-information-->
					<img src="~/img/Imagehome/product-details/new.jpg" class="newarrival" alt="" />
					<h2>@Model.Product.ProductName</h2>
					<img src="~/img/Imagehome/product-details/rating.png" alt="" />
					<span>
						<form method="post" asp-page="Detail" asp-page-handler="AddToCart">
						<span class="price">@Model.Product.PriceOut</span>
							<input name="price" value="@Model.Product.PriceOut" hidden />
							<input name="productId" value="@Model.Product.ProductId" hidden />
						<label>Quantity:</label>
						<input type="text" name="quantity" value="1" />
							<button type="submit" class="btn btn-fefault cart">
							<i class="fa fa-shopping-cart"></i>
							Add to cart
						</button>
						</form>
					</span>
					<p>@Model.Product.InstructionsForUse</p>
					<p><b>Tình trạng:</b> Mới</p>
					<p><b>Xuất xứ:</b> @Model.Product.MadeIn</p>
					<a href=""><img src="~/img/Imagehome/product-details/share.png" class="share img-responsive" alt="" /></a>
				</div><!--/product-information-->
			</div>
		</div><!--/product-details-->

		<div class="category-tab shop-details-tab">
			<!--category-tab-->
			<div class="col-sm-12">
				<ul class="nav nav-tabs">
					<li><a href="#details" data-toggle="tab">Chi tiết</a></li>
					<li><a href="#companyprofile" data-toggle="tab">Sản phẩm cùng loại</a></li>
					<li class="active"><a href="#reviews" data-toggle="tab">Reviews (5)</a></li>
				</ul>
			</div>
			<div class="tab-content">
				<div class="tab-pane fade" id="details">
					@Html.Raw(Model.Product.Decription)
				</div>

				<div class="tab-pane fade" id="companyprofile">
					@foreach(var item in Model.SameProduct)
					{
						<div class="col-sm-3">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="@item.ImageDefault" alt="" />
										<h2 class="price">@item.PriceOut</h2>
										<p>@item.ProductName</p>
										<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
									</div>
								</div>
							</div>
						</div>
					}
				</div>

				

				<div class="tab-pane fade active in" id="reviews">
					<div class="col-sm-12">
						<ul>
							<li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
							<li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
							<li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a></li>
						</ul>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
						<p><b>Write Your Review</b></p>

						<form action="#">
							<span>
								<input type="text" placeholder="Your Name" />
								<input type="email" placeholder="Email Address" />
							</span>
							<textarea name=""></textarea>
							<b>Rating: </b> <img src="~/img/Imagehome/product-details/rating.png" alt="" />
							<button type="button" class="btn btn-default pull-right">
								Submit
							</button>
						</form>
					</div>
				</div>

			</div>
		</div><!--/category-tab-->
	</div>
</div>
@section Scripts {

	
}
